.login label {
    font-weight:bolder;
    color: rgb(255, 255, 255);
    margin-top: 0.5rem;
    
    display:inline-table;
  }

  .login input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 2px solid #a49a9a;
    width: 30rem;
    max-width: 100%;
  }

  .login {
   
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  .card form button , .logoutbutton{
    font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 2px solid #833d83;
  background-color: #40005d;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  margin-right: 50%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 15rem;
  }

  .card {
    padding: 5%;
    margin-left: 25%;
    margin-top: 10%;
    background-color: #3f395e;
    width: 40%;
  }

  .card form {
  
    width: 300px;
    margin: 0px auto;}